.footer {
    padding: 2.5rem 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    display: flex;
    justify-content: space-between; /* left + right */
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap; /* mobile safe */
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.95rem;
}

.footer-item i {
    color: #ffffff;
    font-size: 1rem;
    min-width: 20px;
}

@media (max-width: 568px) {
  #scrol2contact {
    display: none !important;
  }
}
